.box{
    height: 100px;
    width: 300px;
    background-color: burlywood;
    animation-name:color;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal; 
}
@keyframes widthAnimate{/*also we can write all frames inside same frame */
    from{
        width:10px;
    } 
    to{
        width:430px;
    }
}
@keyframes fontAnimation{
    from{
        font-size:20px;
    }
    to{
        font-size:40px;
    }
}
@keyframes color{
    from{
        background-color: aqua;
    }
    to{
        background-color:red;
    }
}